:root {
    --primary: #6a994e;
    --primary-dark: #386641;
    --primary-light: #a7c957;
    --secondary: #bc4749;
    --panel: #f2e8cf;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 75vh;
    margin: 0;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.btn {
    text-decoration: none;
    border-radius: 0.4rem;
    background-color: var(--primary);
    margin: 0;
    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
    color: #fff;
    border: none;
    font-size: 1rem;
}

input {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    padding: 0.2rem;
}

.glowing-background {
  animation: glow 5s infinite alternate;
  background-color: #ffdfdf; /* starting color */
}

@keyframes glow {
  0%   { background-color: #fffedf; }
  25%  { background-color: #e9ffdf; }
  50%  { background-color: #dffeff; }
  75%  { background-color: #dfe3ff; }
  100% { background-color: #ffdffc; }
}